# Reto 8 Crear diccionarios

## Objetivo

Crear un diccionario aninado de nombres, edades, generos y estudios de una persona. La clave es el número de control o similar.

## Descripción 

- Crear un diccionario anidado cuya llave sea el nocontrol con 5 estudiantes con estos atributos:

    - Los nombres: son nombres de pila de personas PUEDEN SER minúsculas Y MAYÚSCULAS
    - Las edades: son valores numéricos
    - Los géneros: debe ser "F" Femenino "M" Masculino, MAYÚSCULAS o minúsculas 
- Imprimir el diccionario
- Convertir los nombres y los géneros a solo MAYÚSCULAS. Usar ciclo u otra alternativa iterando el dicconario
    - Agregar el elemento carrera al dicconario con los 5 elementos
- Imprimir el diccionario
- Copiar el diccionario a otro diccionario de tal forma de que se tengan dos dicconarios iguales
- Agregar elemento carrera al diccionario personas con letras MAYÚSCULAS
- Agregar otros 3 elementos al diccionario original incluynedo la carrera
- Mostrar el diccioanrio ordenado ascendente la clave 
- Ordenar el diccionario original con los 8 elementos sorted(key)
- Extraer del diccionario solo los elementos cuyo género sea 'F' y convertir esta extracción a una lista. Iterar
- Presentar la lista
- Extraer del diccionario tres listas por carrera
- Presentar la listas

## Desarrollo

In [1]:
# Crear y visualziar el dicconario
personas = {
    "1000": {"nombre": "rubén", "edad": 30, "genero": "m"},
    "1002": {"nombre": "JUAN", "edad": 25, "genero": "M"},
    "1004": {"nombre": "Adriana", "edad": 20, "genero": "F"},
    "1006": {"nombre": "MAry", "edad": 25, "genero": "F"},
    "1008": {"nombre": "Gerardo", "edad": 22, "genero": "M"},
    
}
personas

{'1000': {'nombre': 'rubén', 'edad': 30, 'genero': 'm'},
 '1002': {'nombre': 'JUAN', 'edad': 25, 'genero': 'M'},
 '1004': {'nombre': 'Adriana', 'edad': 20, 'genero': 'F'},
 '1006': {'nombre': 'MAry', 'edad': 25, 'genero': 'F'},
 '1008': {'nombre': 'Gerardo', 'edad': 22, 'genero': 'M'}}

In [2]:
# Convertir a mayúsculas nombre y género
for persona in personas:
    personas[persona]["nombre"] = personas[persona]["nombre"].upper()
    personas[persona]["genero"] = personas[persona]["genero"].upper()
    
personas

{'1000': {'nombre': 'RUBÉN', 'edad': 30, 'genero': 'M'},
 '1002': {'nombre': 'JUAN', 'edad': 25, 'genero': 'M'},
 '1004': {'nombre': 'ADRIANA', 'edad': 20, 'genero': 'F'},
 '1006': {'nombre': 'MARY', 'edad': 25, 'genero': 'F'},
 '1008': {'nombre': 'GERARDO', 'edad': 22, 'genero': 'M'}}

In [4]:
# - Copiar el diccionario a otro diccionaro de tal forma de que se tengan dos dicconarios iguales

copia_personas = personas.copy()
copia_personas

{'1000': {'nombre': 'RUBÉN', 'edad': 30, 'genero': 'M'},
 '1002': {'nombre': 'JUAN', 'edad': 25, 'genero': 'M'},
 '1004': {'nombre': 'ADRIANA', 'edad': 20, 'genero': 'F'},
 '1006': {'nombre': 'MARY', 'edad': 25, 'genero': 'F'},
 '1008': {'nombre': 'GERARDO', 'edad': 22, 'genero': 'M'}}

In [3]:
# Agregar elemento carrera al dicconario

personas["1000"]["carrera"] = "SISTEMAS"
personas["1002"]["carrera"] = "TIC"
personas["1004"]["carrera"] = "INFORMATICA"
personas["1006"]["carrera"] = "SISTEMAS"
personas["1008"]["carrera"] = "INFORMATICA"    
    
personas

{'1000': {'nombre': 'RUBÉN', 'edad': 30, 'genero': 'M', 'carrera': 'SISTEMAS'},
 '1002': {'nombre': 'JUAN', 'edad': 25, 'genero': 'M', 'carrera': 'TIC'},
 '1004': {'nombre': 'ADRIANA',
  'edad': 20,
  'genero': 'F',
  'carrera': 'INFORMATICA'},
 '1006': {'nombre': 'MARY', 'edad': 25, 'genero': 'F', 'carrera': 'SISTEMAS'},
 '1008': {'nombre': 'GERARDO',
  'edad': 22,
  'genero': 'M',
  'carrera': 'INFORMATICA'}}

In [4]:
# Agregar otros 3 elementos al diccionario original incluynedo la carrera
personas["0050"] = {'nombre': 'GABY', 'edad': 24, 'genero': 'F', 'carrera': 'TIC'}
personas["0060"] = {'nombre': 'LULU', 'edad': 22, 'genero': 'F', 'carrera': 'TIC'}
personas["0070"] = {'nombre': 'MARIO', 'edad': 20, 'genero': 'm', 'carrera': 'SISTEMAS'}

personas

{'1000': {'nombre': 'RUBÉN', 'edad': 30, 'genero': 'M', 'carrera': 'SISTEMAS'},
 '1002': {'nombre': 'JUAN', 'edad': 25, 'genero': 'M', 'carrera': 'TIC'},
 '1004': {'nombre': 'ADRIANA',
  'edad': 20,
  'genero': 'F',
  'carrera': 'INFORMATICA'},
 '1006': {'nombre': 'MARY', 'edad': 25, 'genero': 'F', 'carrera': 'SISTEMAS'},
 '1008': {'nombre': 'GERARDO',
  'edad': 22,
  'genero': 'M',
  'carrera': 'INFORMATICA'},
 '0050': {'nombre': 'GABY', 'edad': 24, 'genero': 'F', 'carrera': 'TIC'},
 '0060': {'nombre': 'LULU', 'edad': 22, 'genero': 'F', 'carrera': 'TIC'},
 '0070': {'nombre': 'MARIO', 'edad': 20, 'genero': 'm', 'carrera': 'SISTEMAS'}}

In [5]:
# Imprimir ordenado el diccionario

# Obtener las claves del diccionario anidado
claves = personas.keys()
print("Claves", claves)

# Ordenar las claves alfabéticamente
claves_ordenadas = sorted(claves)
print("Ordenadas", claves_ordenadas)

print("Diccionario ordenado")

# Imprimir las claves y valores del diccionario en orden
for clave in claves_ordenadas:
    valor = personas[clave]
    print(clave + ": " + str(valor))

Claves dict_keys(['1000', '1002', '1004', '1006', '1008', '0050', '0060', '0070'])
Ordenadas ['0050', '0060', '0070', '1000', '1002', '1004', '1006', '1008']
Diccionario ordenado
0050: {'nombre': 'GABY', 'edad': 24, 'genero': 'F', 'carrera': 'TIC'}
0060: {'nombre': 'LULU', 'edad': 22, 'genero': 'F', 'carrera': 'TIC'}
0070: {'nombre': 'MARIO', 'edad': 20, 'genero': 'm', 'carrera': 'SISTEMAS'}
1000: {'nombre': 'RUBÉN', 'edad': 30, 'genero': 'M', 'carrera': 'SISTEMAS'}
1002: {'nombre': 'JUAN', 'edad': 25, 'genero': 'M', 'carrera': 'TIC'}
1004: {'nombre': 'ADRIANA', 'edad': 20, 'genero': 'F', 'carrera': 'INFORMATICA'}
1006: {'nombre': 'MARY', 'edad': 25, 'genero': 'F', 'carrera': 'SISTEMAS'}
1008: {'nombre': 'GERARDO', 'edad': 22, 'genero': 'M', 'carrera': 'INFORMATICA'}

In [21]:
personas

{'1000': {'nombre': 'RUBÉN', 'edad': 30, 'genero': 'M', 'carrera': 'SISTEMAS'},
 '1002': {'nombre': 'JUAN', 'edad': 25, 'genero': 'M', 'carrera': 'TIC'},
 '1004': {'nombre': 'ADRIANA',
  'edad': 20,
  'genero': 'F',
  'carrera': 'INFORMATICA'},
 '1006': {'nombre': 'MARY', 'edad': 25, 'genero': 'F', 'carrera': 'SISTEMAS'},
 '1008': {'nombre': 'GERARDO',
  'edad': 22,
  'genero': 'M',
  'carrera': 'INFORMATICA'},
 '0050': {'nombre': 'GABY', 'edad': 24, 'genero': 'F', 'carrera': 'TIC'},
 '0060': {'nombre': 'LULU', 'edad': 22, 'genero': 'F', 'carrera': 'TIC'},
 '0070': {'nombre': 'MARIO', 'edad': 20, 'genero': 'm', 'carrera': 'SISTEMAS'}}

In [6]:
# Crear un nuevo diccionario ordenado a partir del original
claves = personas.keys()
print("Claves", claves)

# Ordenar las claves alfabéticamente
claves_ordenadas = sorted(claves)
print("Ordenadas", claves_ordenadas)

personas_ordenado = {}
for clave in claves_ordenadas:
    personas_ordenado[clave] = personas[clave]
    
personas_ordenado

Claves dict_keys(['1000', '1002', '1004', '1006', '1008', '0050', '0060', '0070'])
Ordenadas ['0050', '0060', '0070', '1000', '1002', '1004', '1006', '1008']

{'0050': {'nombre': 'GABY', 'edad': 24, 'genero': 'F', 'carrera': 'TIC'},
 '0060': {'nombre': 'LULU', 'edad': 22, 'genero': 'F', 'carrera': 'TIC'},
 '0070': {'nombre': 'MARIO', 'edad': 20, 'genero': 'm', 'carrera': 'SISTEMAS'},
 '1000': {'nombre': 'RUBÉN', 'edad': 30, 'genero': 'M', 'carrera': 'SISTEMAS'},
 '1002': {'nombre': 'JUAN', 'edad': 25, 'genero': 'M', 'carrera': 'TIC'},
 '1004': {'nombre': 'ADRIANA',
  'edad': 20,
  'genero': 'F',
  'carrera': 'INFORMATICA'},
 '1006': {'nombre': 'MARY', 'edad': 25, 'genero': 'F', 'carrera': 'SISTEMAS'},
 '1008': {'nombre': 'GERARDO',
  'edad': 22,
  'genero': 'M',
  'carrera': 'INFORMATICA'}}

In [7]:
# - Extraer del diccionario solo los elementos cuyo género sea 'F' y convertir esta extracción a una lista. Iterar
lista_femeninos = []

for persona in personas:
    if personas[persona]["genero"] == 'F':
        lista_femeninos.append(personas[persona])

lista_femeninos

[{'nombre': 'ADRIANA', 'edad': 20, 'genero': 'F', 'carrera': 'INFORMATICA'},
 {'nombre': 'MARY', 'edad': 25, 'genero': 'F', 'carrera': 'SISTEMAS'},
 {'nombre': 'GABY', 'edad': 24, 'genero': 'F', 'carrera': 'TIC'},
 {'nombre': 'LULU', 'edad': 22, 'genero': 'F', 'carrera': 'TIC'}]

In [11]:
# - Extraer del diccionario solo los elementos cuyo género sea 'M' y convertir esta extracción a una lista. Iterar
lista_masculinos = []

for persona in personas:
    if personas[persona]["genero"] == 'M':
        lista_masculinos.append(personas[persona])

lista_masculinos

[{'nombre': 'RUBÉN', 'edad': 30, 'genero': 'M', 'carrera': 'SISTEMAS'},
 {'nombre': 'JUAN', 'edad': 25, 'genero': 'M', 'carrera': 'TIC'},
 {'nombre': 'GERARDO', 'edad': 22, 'genero': 'M', 'carrera': 'INFORMATICA'}]

In [ ]:
# - Extraer del diccionario tres listas por carrera SISTEMAS
# Presentar la lista

In [ ]:
# - Extraer del diccionario tres listas por carrera TIC
# Presentar la lista

In [ ]:
# - Extraer del diccionario tres listas por carrera INFORMATICA
# Presentar la lista