# Reto 15 crear un conjunto  de datos

Crear un dataframe a partir de tres vectores numpy y generar una salida con valores aleatorios de calificaciones de tres materias:

- Los tres vectores son: matematicas que se genera como una distribución normal con media = 85 y desviación estándar = 5; ingles que se genera como una distribución normal con media = 90 y desviación estándar = 5 y programacion que se genera como una distribución normal con media = 80 y desviación estándar = 5
- A partir de los tres vectores crear el dataframe llamado datos o calificaciones
- Describir los estadísticos básicos media, desviación mínimo, máximo de cada variable del dataframe o conjunto de datos.
- Visualizar la distribución de los datos de cada variable e interpretar el caso.
- Deben ser n igual a 20 registros por variable tal como se indica:



matematicas	
85.29, 95.46, 85.48, 79.10, 88.56, 81.96
Hasta 20 registros…	 

ingles
78.77, 94.52, 93.32 , 86.53, 79.90, 90.14 …	

programacion
76.93, 81.65, 83.49, 87.65 , 74.56 , 84.70 ...

- Debe crear un data frame de 10 registros y 3 columnas

In [111]:
import pandas as pd
import numpy as np

# Crear datos

In [42]:
matricula = ['1000', '1002', '1004', '1006', '1008', '1010', '1012', '1014', '1016', '1018']
print("matricula")
print(matricula)

matematicas =  [85.29, 95.46, 85.48, 79.10, 88.56, 81.96, 90.00, 86.50, 89.80, 85.80]
print("matemáticas")
print(matematicas)

ingles =       [78.77, 94.52, 93.32, 86.53, 79.90, 90.14, 98.90, 78.90, 87.90, 90.05]
print("inglés")
print(ingles)

programacion = [76.93, 81.65, 83.49, 87.65, 74.56, 84.70, 86.90, 89.90, 90.68, 93.90]
print("programación")
print(programacion)

matricula
['1000', '1002', '1004', '1006', '1008', '1010', '1012', '1014', '1016', '1018']
matemáticas
[85.29, 95.46, 85.48, 79.1, 88.56, 81.96, 90.0, 86.5, 89.8, 85.8]
inglés
[78.77, 94.52, 93.32, 86.53, 79.9, 90.14, 98.9, 78.9, 87.9, 90.05]
programación
[76.93, 81.65, 83.49, 87.65, 74.56, 84.7, 86.9, 89.9, 90.68, 93.9]

In [91]:
# Crear un diccionario
dicc = {'matricula': matricula, 'matematicas': matematicas, 'ingles': ingles, 'programacion': programacion}
dicc

{'matricula': ['1000',
  '1002',
  '1004',
  '1006',
  '1008',
  '1010',
  '1012',
  '1014',
  '1016',
  '1018'],
 'matematicas': [85.29,
  95.46,
  85.48,
  79.1,
  88.56,
  81.96,
  90.0,
  86.5,
  89.8,
  85.8],
 'ingles': [78.77, 94.52, 93.32, 86.53, 79.9, 90.14, 98.9, 78.9, 87.9, 90.05],
 'programacion': [76.93,
  81.65,
  83.49,
  87.65,
  74.56,
  84.7,
  86.9,
  89.9,
  90.68,
  93.9]}

In [92]:
# Construir un pandas a partir del diccionario

datos = pd.DataFrame(dicc)
datos

  matricula  matematicas  ingles  programacion
0      1000        85.29   78.77         76.93
1      1002        95.46   94.52         81.65
2      1004        85.48   93.32         83.49
3      1006        79.10   86.53         87.65
4      1008        88.56   79.90         74.56
5      1010        81.96   90.14         84.70
6      1012        90.00   98.90         86.90
7      1014        86.50   78.90         89.90
8      1016        89.80   87.90         90.68
9      1018        85.80   90.05         93.90

# Estructura de los datos

In [54]:
# Estructura de los datos
datos.shape

(10, 4)

# Acceder a datos

In [56]:
# Primeros registros
datos.head()

  matricula  matematicas  mngles  mrogramacion
0      1000        85.29   78.77         76.93
1      1002        95.46   94.52         81.65
2      1004        85.48   93.32         83.49
3      1006        79.10   86.53         87.65
4      1008        88.56   79.90         74.56

In [57]:
# Ultimos registros
datos.tail()

  matricula  matematicas  mngles  mrogramacion
5      1010        81.96   90.14         84.70
6      1012        90.00   98.90         86.90
7      1014        86.50   78.90         89.90
8      1016        89.80   87.90         90.68
9      1018        85.80   90.05         93.90

In [60]:
# Accesando a registros del conjunto de datos 
# A manera de diccionario

datos['matricula']

0    1000
1    1002
2    1004
3    1006
4    1008
5    1010
6    1012
7    1014
8    1016
9    1018
Name: matricula, dtype: object

In [61]:
# Con el nombre de la columna
datos.matematicas

0    85.29
1    95.46
2    85.48
3    79.10
4    88.56
5    81.96
6    90.00
7    86.50
8    89.80
9    85.80
Name: matematicas, dtype: float64

In [63]:
# A cierto registro de cierta columna
datos['matematicas'][0]

85.29

In [64]:
# A cierto registro de ciertas columna
datos['matematicas'][0:5]

0    85.29
1    95.46
2    85.48
3    79.10
4    88.56
Name: matematicas, dtype: float64

In [66]:
#  través de índices index
print(datos.iloc[2])  # El de la posicón o índice 2

matricula        1004
matematicas     85.48
mngles          93.32
programacion    83.49
Name: 2, dtype: object

In [69]:
# Un número de columna específica con la posición iloc[]
datos.iloc[:, 0]

0    1000
1    1002
2    1004
3    1006
4    1008
5    1010
6    1012
7    1014
8    1016
9    1018
Name: matricula, dtype: object

In [71]:
datos.iloc[:3, 1] #Hasta el tres la columna 1

0    85.29
1    95.46
2    85.48
Name: matematicas, dtype: float64

In [74]:
datos.iloc[1:3, 0] # Del registro 1 hasta el 3 en donde este no lo incluye

1    1002
2    1004
Name: matricula, dtype: object

In [75]:
datos.iloc[[0, 1, 2], 0]

0    1000
1    1002
2    1004
Name: matricula, dtype: object

In [80]:
# Acceder basados en un nombre de columna
print(datos.loc[0, 'matematicas']) # El primer registro de matemáticas
print(datos.loc[0:5, 'matematicas']) # del 0 al 4 registros de matemáticas

85.29
0    85.29
1    95.46
2    85.48
3    79.10
4    88.56
5    81.96
Name: matematicas, dtype: float64

In [93]:
# Varias columnas con loc del primer registros
print(datos.loc[0, ['matematicas', 'ingles']])

matematicas    85.29
ingles         78.77
Name: 0, dtype: object

In [95]:
# Varias columnas con loc del varios registros
print(datos.loc[0:5, ['matematicas', 'ingles']])

   matematicas  ingles
0        85.29   78.77
1        95.46   94.52
2        85.48   93.32
3        79.10   86.53
4        88.56   79.90
5        81.96   90.14

In [100]:
# Acceder con condicionales
datos.matricula == '1004'

0    False
1    False
2     True
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: matricula, dtype: bool

In [101]:
# Con algunos filtros o condiciones obteniendo los datos
datos.loc[datos.matricula == '1004']

  matricula  matematicas  ingles  programacion
2      1004        85.48   93.32         83.49

In [104]:
# Con algunos filtros o condiciones obteniendo los datos
datos.loc[(datos.matricula == '1004') | (datos.matricula == '1006')]

  matricula  matematicas  ingles  programacion
2      1004        85.48   93.32         83.49
3      1006        79.10   86.53         87.65

In [106]:
# Los que están por encima de 90 en programacion
datos.loc[datos.programacion >= 90]

  matricula  matematicas  ingles  programacion
8      1016         89.8   87.90         90.68
9      1018         85.8   90.05         93.90

In [108]:
# Los que están por encima de 90 en programacion y que además tengan mayor a 90 en alguna de las otras materias
datos.loc[(datos.programacion >= 90) & ((datos.matematicas >= 90) | ((datos.ingles >= 90)))]

  matricula  matematicas  ingles  programacion
9      1018         85.8   90.05          93.9

In [151]:
# Generando semilla  par aleatorios
np.random.seed(2023)

In [152]:
# Agregar nueva columna generos de manera eleatoria
generos = np.random.choice(['F', 'M'], size=10)
datos['genero'] = generos
datos

  matricula  matematicas  ingles  programacion genero   promedio
0      1000        85.29   78.77         76.93      M  80.330000
1      1002        95.46   94.52         81.65      M  90.543333
2      1004        85.48   93.32         83.49      F  87.430000
3      1006        79.10   86.53         87.65      M  84.426667
4      1008        88.56   79.90         74.56      M  81.006667
5      1010        81.96   90.14         84.70      F  85.600000
6      1012        90.00   98.90         86.90      M  91.933333
7      1014        86.50   78.90         89.90      F  85.100000
8      1016        89.80   87.90         90.68      F  89.460000
9      1018        85.80   90.05         93.90      F  89.916667

In [116]:
# Filtrar por genero
femeninos = datos.loc[datos.genero == 'F']
masculinos = datos.loc[datos.genero == 'M']
print("Femeninos")
print(femeninos)
print("Masculinos")
print(masculinos)

Femeninos
  matricula  matematicas  ingles  programacion genero
0      1000        85.29   78.77         76.93      F
1      1002        95.46   94.52         81.65      F
2      1004        85.48   93.32         83.49      F
3      1006        79.10   86.53         87.65      F
4      1008        88.56   79.90         74.56      F
5      1010        81.96   90.14         84.70      F
6      1012        90.00   98.90         86.90      F
7      1014        86.50   78.90         89.90      F
Masculinos
  matricula  matematicas  ingles  programacion genero
8      1016         89.8   87.90         90.68      M
9      1018         85.8   90.05         93.90      M

# Resumen de los datos

In [117]:
datos

  matricula  matematicas  ingles  programacion genero
0      1000        85.29   78.77         76.93      F
1      1002        95.46   94.52         81.65      F
2      1004        85.48   93.32         83.49      F
3      1006        79.10   86.53         87.65      F
4      1008        88.56   79.90         74.56      F
5      1010        81.96   90.14         84.70      F
6      1012        90.00   98.90         86.90      F
7      1014        86.50   78.90         89.90      F
8      1016        89.80   87.90         90.68      M
9      1018        85.80   90.05         93.90      M

In [118]:
datos.describe()

       matematicas     ingles  programacion
count    10.000000  10.000000     10.000000
mean     86.795000  87.893000     85.036000
std       4.535797   6.944816      6.090184
min      79.100000  78.770000     74.560000
25%      85.337500  81.557500     82.110000
50%      86.150000  88.975000     85.800000
75%      89.490000  92.525000     89.337500
max      95.460000  98.900000     93.900000

In [119]:
# Describir una sola columna
datos.matematicas.describe()

count    10.000000
mean     86.795000
std       4.535797
min      79.100000
25%      85.337500
50%      86.150000
75%      89.490000
max      95.460000
Name: matematicas, dtype: float64

In [126]:
# Un solo estadístico
print("La media aritmética de matemáticas ", datos.matematicas.mean())
print("La desviacion estándar de matemáticas" , datos.matematicas.std())

La media aritmética de matemáticas  86.79499999999999
La desviacion estándar de matemáticas 4.535796512190554

In [130]:
# Redondeados con np.around
# Un solo estadístico
print("La media aritmética de matemáticas ", np.around(datos.matematicas.mean(), 2))
print("La desviacion estándar de matemáticas" , np.around(datos.matematicas.std(), 2))

La media aritmética de matemáticas  86.79
La desviacion estándar de matemáticas 4.54

In [131]:
# Con datos categóricos
datos.matricula.unique()

array(['1000', '1002', '1004', '1006', '1008', '1010', '1012', '1014',
       '1016', '1018'], dtype=object)

In [134]:
datos.genero.unique()

array(['F', 'M'], dtype=object)

In [137]:
# Agregar el promedio de las tres materias a cada registro
datos['promedio'] = (datos['matematicas'] + datos['ingles'] + datos['programacion']) / 3
datos

  matricula  matematicas  ingles  programacion genero   promedio
0      1000        85.29   78.77         76.93      F  80.330000
1      1002        95.46   94.52         81.65      F  90.543333
2      1004        85.48   93.32         83.49      F  87.430000
3      1006        79.10   86.53         87.65      F  84.426667
4      1008        88.56   79.90         74.56      F  81.006667
5      1010        81.96   90.14         84.70      F  85.600000
6      1012        90.00   98.90         86.90      F  91.933333
7      1014        86.50   78.90         89.90      F  85.100000
8      1016        89.80   87.90         90.68      M  89.460000
9      1018        85.80   90.05         93.90      M  89.916667

# Agrupando datos

In [139]:
# Agrupa por genero pero además cuéntalos
datos.groupby('genero').genero.count()

genero
F    8
M    2
Name: genero, dtype: int64

In [140]:
# Agrupa por genero pero y determina media de matemáticas
datos.groupby('genero').matematicas.mean()

genero
F    86.54375
M    87.80000
Name: matematicas, dtype: float64

In [142]:
# Agrupa por genero pero y determina media de promedio general
datos.groupby('genero').promedio.mean()

# quienes tienen mejor nive académico F o M?

genero
F    85.796250
M    89.688333
Name: promedio, dtype: float64

In [172]:
# Varias funciones simultaneas
datos.groupby(['genero']).promedio.agg([len, min, max])

        len    min        max
genero
F         5  85.10  89.916667
M         5  80.33  91.933333

In [157]:
# Clasificar de acumerdo al promedio
# < 90 buenos
# >= 90 muy buenos
datos[datos.promedio <= 90]

  matricula  matematicas  ingles  programacion genero   promedio
0      1000        85.29   78.77         76.93      M  80.330000
2      1004        85.48   93.32         83.49      F  87.430000
3      1006        79.10   86.53         87.65      M  84.426667
4      1008        88.56   79.90         74.56      M  81.006667
5      1010        81.96   90.14         84.70      F  85.600000
7      1014        86.50   78.90         89.90      F  85.100000
8      1016        89.80   87.90         90.68      F  89.460000
9      1018        85.80   90.05         93.90      F  89.916667

In [166]:
buenos = datos['promedio'] < 90
muy_buenos = datos['promedio'] >=90

# Obtener los índices donde se cumple el filtro usando where de numpy
indices_buenos = np.where(buenos)[0]
indices_muy_buenos = np.where(muy_buenos)[0]

print(indices_buenos)
print(indices_muy_buenos)

[0 2 3 4 5 7 8 9]
[1 6]

In [167]:
datos['clasificacion'] = np.nan
datos

,matricula,matematicas,ingles,programacion,genero,promedio,clasificacion
0,1000,85.29,78.77,76.93,M,80.330000,NaN
1,1002,95.46,94.52,81.65,M,90.543333,NaN
2,1004,85.48,93.32,83.49,F,87.430000,NaN
3,1006,79.10,86.53,87.65,M,84.426667,NaN
4,1008,88.56,79.90,74.56,M,81.006667,NaN
5,1010,81.96,90.14,84.70,F,85.600000,NaN
6,1012,90.00,98.90,86.90,M,91.933333,NaN
7,1014,86.50,78.90,89.90,F,85.100000,NaN
8,1016,89.80,87.90,90.68,F,89.460000,NaN
9,1018,85.80,90.05,93.90,F,89.916667,NaN

In [168]:
datos.loc[indices_buenos, 'clasificacion'] = 'BUENO'
datos.loc[indices_muy_buenos, 'clasificacion'] = 'MUY BUENO'
datos

  matricula  matematicas  ingles  programacion genero   promedio clasificacion
0      1000        85.29   78.77         76.93      M  80.330000         BUENO
1      1002        95.46   94.52         81.65      M  90.543333     MUY BUENO
2      1004        85.48   93.32         83.49      F  87.430000         BUENO
3      1006        79.10   86.53         87.65      M  84.426667         BUENO
4      1008        88.56   79.90         74.56      M  81.006667         BUENO
5      1010        81.96   90.14         84.70      F  85.600000         BUENO
6      1012        90.00   98.90         86.90      M  91.933333     MUY BUENO
7      1014        86.50   78.90         89.90      F  85.100000         BUENO
8      1016        89.80   87.90         90.68      F  89.460000         BUENO
9      1018        85.80   90.05         93.90      F  89.916667         BUENO

In [174]:
# Agrupando multicolumnas
# Genera una tabla cruzada
tabla_cruzada = datos.groupby(['genero', 'clasificacion']).promedio.agg([len])
tabla_cruzada

                      len
genero clasificacion
F      BUENO            5
M      BUENO            3
       MUY BUENO        2

In [180]:
# Generando columna indice ¿a los datos
datos_index = datos.reset_index()

datos_index

,index,matricula,matematicas,ingles,programacion,genero,promedio,clasificacion
0,0,1000,85.29,78.77,76.93,M,80.330000,BUENO
1,1,1002,95.46,94.52,81.65,M,90.543333,MUY BUENO
2,2,1004,85.48,93.32,83.49,F,87.430000,BUENO
3,3,1006,79.10,86.53,87.65,M,84.426667,BUENO
4,4,1008,88.56,79.90,74.56,M,81.006667,BUENO
5,5,1010,81.96,90.14,84.70,F,85.600000,BUENO
6,6,1012,90.00,98.90,86.90,M,91.933333,MUY BUENO
7,7,1014,86.50,78.90,89.90,F,85.100000,BUENO
8,8,1016,89.80,87.90,90.68,F,89.460000,BUENO
9,9,1018,85.80,90.05,93.90,F,89.916667,BUENO

# Ordenndo datos

In [182]:
datos_index.sort_values(by='promedio')

,index,matricula,matematicas,ingles,programacion,genero,promedio,clasificacion
0,0,1000,85.29,78.77,76.93,M,80.330000,BUENO
4,4,1008,88.56,79.90,74.56,M,81.006667,BUENO
3,3,1006,79.10,86.53,87.65,M,84.426667,BUENO
7,7,1014,86.50,78.90,89.90,F,85.100000,BUENO
5,5,1010,81.96,90.14,84.70,F,85.600000,BUENO
2,2,1004,85.48,93.32,83.49,F,87.430000,BUENO
8,8,1016,89.80,87.90,90.68,F,89.460000,BUENO
9,9,1018,85.80,90.05,93.90,F,89.916667,BUENO
1,1,1002,95.46,94.52,81.65,M,90.543333,MUY BUENO
6,6,1012,90.00,98.90,86.90,M,91.933333,MUY BUENO

In [185]:
# Descendente
datos_index.sort_values(by='promedio', ascending = False)

,index,matricula,matematicas,ingles,programacion,genero,promedio,clasificacion
6,6,1012,90.00,98.90,86.90,M,91.933333,MUY BUENO
1,1,1002,95.46,94.52,81.65,M,90.543333,MUY BUENO
9,9,1018,85.80,90.05,93.90,F,89.916667,BUENO
8,8,1016,89.80,87.90,90.68,F,89.460000,BUENO
2,2,1004,85.48,93.32,83.49,F,87.430000,BUENO
5,5,1010,81.96,90.14,84.70,F,85.600000,BUENO
7,7,1014,86.50,78.90,89.90,F,85.100000,BUENO
3,3,1006,79.10,86.53,87.65,M,84.426667,BUENO
4,4,1008,88.56,79.90,74.56,M,81.006667,BUENO
0,0,1000,85.29,78.77,76.93,M,80.330000,BUENO

In [187]:
# Se guarda permanente
# Descendente
datos_index.sort_values(by='promedio', ascending = False, inplace = True)
datos_index

,index,matricula,matematicas,ingles,programacion,genero,promedio,clasificacion
6,6,1012,90.00,98.90,86.90,M,91.933333,MUY BUENO
1,1,1002,95.46,94.52,81.65,M,90.543333,MUY BUENO
9,9,1018,85.80,90.05,93.90,F,89.916667,BUENO
8,8,1016,89.80,87.90,90.68,F,89.460000,BUENO
2,2,1004,85.48,93.32,83.49,F,87.430000,BUENO
5,5,1010,81.96,90.14,84.70,F,85.600000,BUENO
7,7,1014,86.50,78.90,89.90,F,85.100000,BUENO
3,3,1006,79.10,86.53,87.65,M,84.426667,BUENO
4,4,1008,88.56,79.90,74.56,M,81.006667,BUENO
0,0,1000,85.29,78.77,76.93,M,80.330000,BUENO

In [188]:
datos

  matricula  matematicas  ingles  programacion genero   promedio clasificacion
0      1000        85.29   78.77         76.93      M  80.330000         BUENO
1      1002        95.46   94.52         81.65      M  90.543333     MUY BUENO
2      1004        85.48   93.32         83.49      F  87.430000         BUENO
3      1006        79.10   86.53         87.65      M  84.426667         BUENO
4      1008        88.56   79.90         74.56      M  81.006667         BUENO
5      1010        81.96   90.14         84.70      F  85.600000         BUENO
6      1012        90.00   98.90         86.90      M  91.933333     MUY BUENO
7      1014        86.50   78.90         89.90      F  85.100000         BUENO
8      1016        89.80   87.90         90.68      F  89.460000         BUENO
9      1018        85.80   90.05         93.90      F  89.916667         BUENO

In [189]:
datos_index

,index,matricula,matematicas,ingles,programacion,genero,promedio,clasificacion
6,6,1012,90.00,98.90,86.90,M,91.933333,MUY BUENO
1,1,1002,95.46,94.52,81.65,M,90.543333,MUY BUENO
9,9,1018,85.80,90.05,93.90,F,89.916667,BUENO
8,8,1016,89.80,87.90,90.68,F,89.460000,BUENO
2,2,1004,85.48,93.32,83.49,F,87.430000,BUENO
5,5,1010,81.96,90.14,84.70,F,85.600000,BUENO
7,7,1014,86.50,78.90,89.90,F,85.100000,BUENO
3,3,1006,79.10,86.53,87.65,M,84.426667,BUENO
4,4,1008,88.56,79.90,74.56,M,81.006667,BUENO
0,0,1000,85.29,78.77,76.93,M,80.330000,BUENO